<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triplanner - {{trip.destination}}</title>
</head>
<body>
    <header>
        <h1>Your Trip to {{trip.destination}}</h1>
        <div class="nav">
            <p><a href="{% url 'trips:home' %}">Return to Home</a> | <a href="{% url 'users:index' %}">Logout</a></p>
            {% if trip.organizer.id == request.session.user_id %}
                <a href="/trips/{{trip.id}}/edit">Edit Trip</a>
            {% else %}
                <p>This trip is hosted by {{trip.organizer.name}}</p>
            {% endif %}
        </div>
    </header>
    <main>
        <p class="trip_description">{{trip.description}}</p>
        <p class="conditions">You are traveling to {{trip.destination}} for {{max_day}} days. You will be going around via {{transport}}.</p>
        <hr />
        <!-- <p class="italic">The timing below does not include commute time [from the hotel to the first event and the last event to the hotel (depending on belt)].</p> -->
        <!-- for loop on days given that trip -->
        <a href="{% url 'sights:new' %}">Add Sight</a>
        {% for day, sight_list in ordered_sights %}
            <div class="day">
                <div class="event_summary">
                    <!-- <h3>Day [X] (Total hours: [Y] hours and [Z] Minutes)</h3> -->
                    <h3>Day {{day}}</h3>
                </div>
                {% if sight_list %}
                <!-- for loop on events given day number of trip -->
                    <div class="events">
                        {% for sight in sight_list %}
                            <div class="event_details">
                                <div class="sight">
                                    <label for="sight">Sight:</label>
                                    <p>{{sight.name}}</p>
                                </div>
                                <div class="duration">
                                    <label for="duration">Duration:</label>
                                    <p>{{sight.duration}}</p>
                                </div>
                                <div class="event_description">
                                    <label for="description">Description:</label>
                                    <p>{{sight.description}}</p>
                                </div>
                                <div class="creator">
                                    <label for="creator">Creator:</label>
                                    <p>{{sight.creator.name}}</p>
                                </div>
                                {% if sight.creator.id == request.session.user_id %}<p><a href="/sights/{{sight.id}}/edit">Edit</a> | <a href="/sights/{{sight.id}}/delete">Delete</a></p>{% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                            <p>You don't have anything scheduled for this day!</p>
                    {% endif %}
                    </div>
                <!-- if going for black belt, have events for loop iterate till everything till last then add in the last component -->
            </div>
        {% endfor %}
    </main>
</body>
</html>