<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triplanner - Your Trip</title>
</head>
<body>
    <header>
        <h1>Your Trip</h1>
        <div class="nav">
            <p><a href="{% url 'home' %}">Return to Home</a> | <a href="{% url 'users:login' %}">Logout</a></p>
            <a href="/trip/____/edit"></a>
        </div>
    </header>
    <main>
        <p class="trip_description">[Insert Description]</p>
        <p class="conditions">You are traveling to [Destination] for [x] days. You will be going around via [Mode of Transportation].</p>
        <hr />
        <p class="italic">The timing below does not include commute time [from the hotel to the first event and the last event to the hotel (depending on belt)].</p>
        <!-- for loop on days given that trip -->
            <div class="day">
                <div class="event_summary">
                    <h3>Day [X] (Total hours: [Y] hours and [Z] Minutes)</h3>
                    <a href="/events/new">Add Event</a>
                </div>
                <!-- for loop on events given day number of trip -->
                <div class="events">
                    <!-- div for image if black belt-->
                    <div class="event_details">
                        <div class="sight">
                            <label for="sight">Sight:</label>
                            <p>[Insert Sight]</p>
                        </div>
                        <div class="duration">
                            <label for="duration">Duration:</label>
                            <p>[Insert Duration]</p>
                        </div>
                        <div class="event_description">
                            <label for="description">Description:</label>
                            <p>[Insert Description]</p>
                        </div>
                    </div>
                    <div class="action">
                        <p><a href="/events/____/edit">Edit</a> | <a href="/events/____/delete">Delete</a></p>
                    </div>
                </div>
                <!-- if going for black belt, have events for loop iterate till everything till last then add in the last component -->
            </div>
    </main>
</body>
</html>