<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if 'edit_trip' in request.session %}
        <title>Triplanner - Edit Trip</title>
    {% else %}
        <title>Triplanner - New Trip</title>
    {% endif %}
</head>
<body>
    <header>
        <!-- if statement to check whether Trip ID exists -->
        {% if 'edit_trip' in request.session %}
        <h1>Edit Trip Info</h1>
        {% else %}
        <h1>New Trip</h1>
        {% endif %}
        <p><a href="{% url 'trips:home' %}">Return to Home</a> | <a href="{% url 'users:index' %}">Logout</a></p>
    </header>
    <main>
        {% if 'edit_trip' in request.session %}
        <form action="/trips/{{ request.session.edit_trip }}/update" method="post">
        {% else %}
        <form action="/trips/create" method="post">
        {% endif %}
            {% csrf_token %}
            <div>
                <label type='text' name="destination">Destination:</label>
                <input type="text" name="destination" value="[specified destination]">
            </div>
            <div>
                <label type='text' name="transportation">Mode of Transportation:</label>
                <select name="transportation">
                    <!-- for loop and if statement for selected value -->
                    <option value="car">Car</option>
                    <option value="public" selected >Public Transportation</option>
                    <option value="walk">Walking</option>
                </select>
            </div>
            <div>
                <label type='text' name="description">Description:</label>
                <textarea name="description" cols="30" rows="10" >[specified description]</textarea>
            </div>
            <input type="hidden" name="organizer" value="_user_id_">
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>