<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triplanner - Name</title>
</head>
<body>
    <header>
        <div>
            <h1>Hi, {{request.session.name}}!</h1>
            <!-- Pending Invites added in the middle if black belt -->
            <p><a href="{% url 'trips:new' %}">Add Trip</a> | <a href="{% url 'users:index' %}">Logout</a></p>
        </div>
        <!-- <p>You have [X] trips that you are planning to go! You also have [Y] trips to confirm invitation (Black Belt).</p> -->
    </header>
    <main>
        {% if all_trips %}
            <h3>Here are your trips:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Destination</th>
                        <!-- <th>Days Planned</th> -->
                        <th>Mode of Transportation</th>
                        <th>Organizer</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- for loop on trips -->
                    {% for trip in all_trips %}
                        <tr>
                            <td>{{trip.destination}}</td>
                            <!-- <td>[Max days for events table]</td> -->
                            <td>{{trip.transportation}}</td>
                            <td>{{trip.organizer.name}}</td>
                            <!-- Add decline if Black Belt -->
                            <td><a href="/trips/{{trip.id}}">View</a>{% if trip.organizer.id == request.session.user_id %} | <a href="/trips/{{trip.id}}/delete">Cancel</a> {% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>You do not have any trips planned</h3>
        {% endif %}
    </main>
</body>
</html>